<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
<!-- Название у нас будет products -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>Статья</h1>
    <h3>{{ time_now|date:'d M Y' }}</h3>
<!--    {{ posts }}-->
    <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Автор</td>
               <td>Тип</td>
               <td>Дата</td>
               <td>Текст</td>
               <td>Рейтинг</td>
           </tr>


           <tr>
               <td>{{ posts.title|censor }}</td>
               <td>{{ posts.author}}</td>
               <td>{{ posts.type}}</td>
               <td>{{ posts.time_in|date:'d M Y' }}</td>
               <td>{{ posts.text|censor}}</td>
               <td>{{ posts.rating}}</td>

           </tr>

       </table>

   {% endif %}

{% endblock content %}